pypdf2
python-docx
langchain
python-multipart
pydantic
python-dotenv
langchain_community
groq
streamlit
pdfplumber
langchain-google-genai
google-api-core
langchain-groq
langchain-cohere
pinecone
pymupdf